.fondoblanco {
  background-color: inherit;
}

.separacion {
  padding-top: 20px;
}

#rosa {
  color: #FE2EC8;
}

.pjustificada {
  text-align: justify;
}

#readmore {
  color: #FE2EC8;
  text-align: left;
}

.separacionpeque {
  padding-top: 10px;
}
